{
  "swagger": "2.0",
  "info": {
    "title": "ppUnit",
    "description": "ppUnit is a unit-testing framework for all Power Platform connectors.",
    "version": "1.0",
    "contact": {
      "name": "Improving",
      "url": "https://improving.com",
      "email": "joe.brinkman@improving.com"
    }
  },
  "host": "api.ppunit.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/assertall": {
      "post": {
        "summary": "Assert All",
        "description": "Asserts all conditions are met.",
        "operationId": "AssertAll",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Payload": {
                  "type": "object",
                  "description": "A class with the properties you want to reference in your Assertion parameter. Currently only supports properties nested one level deep.",
                  "title": "Payload"
                },
                "Assertion": {
                  "$ref": "#/definitions/Assertion",
                  "description": "Definition of an assertion to be made.",
                  "title": "Assertion"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Passed": {
                  "type": "boolean",
                  "description": "Did the assertion pass all conditions",
                  "title": "Passed"
                },
                "ErrorMessages": {
                  "type": "array",
                  "description": "List of all errors encountered.",
                  "title": "ErrorMessages",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "ResultsUrl": {
      "type": "object",
      "properties": {
        "resultUrl": {
          "type": "string",
          "description": "The URL to the flow results",
          "title": "resultUrl"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "number",
          "description": "The result of the assertion.",
          "title": "result"
        },
        "statusMessage": {
          "type": "string",
          "description": "The message to return.",
          "title": "statusMessage"
        }
      }
    },
    "Assertion": {
      "type": "object",
      "description": "Definition of an assertion to be made.",
      "title": "Assertion",
      "properties": {
        "LogicalOperator": {
        },
        "Assertions": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "title": "Assertions",
          "description": "List of assertions"
        },
        "LeftExpression": {
          "type": "string",
          "description": "LeftExpression",
          "title": "LeftExpression"
        },
        "RightExpression": {
          "type": "string",
          "description": "",
          "title": "RightExpression"
        },
        "Operator": {
          "type": "string",
          "description": "",
          "title": "Operator"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "",
          "title": "ErrorMessage"
        },
        "Negate": {
          "type": "boolean",
          "description": "Equivalent to using a NOT in front a given assertion.",
          "title": "Negate"
        }
      }
    }
  },
  "parameters": {
    "Workflow": {
      "name": "body",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "workflow": {
            "type": "string",
            "description": "Use the workflow() function to get the current workflow.",
            "title": "Workflow"
          }
        }
      }
    }
  },
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
